body{
    background-color: black
}
.cover{
    width: 40%;
    height: auto;
    margin: 100px auto;
    background-color: #f2e3c5;
}
.updatedTask{
    z-index: 1;
    box-shadow: 5px 5px 10px #686b6f;
    width: 80%;
    color: #3137ed;
}
.updateCover{
    display: flex;
    opacity: 0;
    width: 95%;
    margin: 10px auto;
    transition: opacity 3s;
}
#taskInput,.updatedTask{
    display: block;
    
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    color: #3137ed;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    
    text-align: center;
    background-color: #839475;
}
#taskInput{
    width: 95%;
    margin: 10px auto;
}
.updateBtn{
    width: 20%;
    font-size: 15px;
    z-index: 1;
    border: 1px solid white;
    outline: none;
    background-color: tomato;
    color: #000;
    box-shadow: 5px 5px 10px #686b6f;
}
#taskInput::-webkit-input-placeholder {
    color: blue;
    font-weight: bold;
}
/* #addedTasksDisplayer{
    width: 100%;
} */
#tasksDisplayer>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    width: 95%;
    min-height: 40px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    font-size: 24px;
}

#tasksDisplayer>h1{
    text-align: center;
}
#tasksDisplayer>div>input{
    display: inline block ;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-top: 5px;
    
}
#tasksDisplayer>div>:nth-child(2){
    width:60% ;
    
}
.edit,.x{
    display: block;
    width: fit-content;
    color: red;
    font-size: 18px;
    font-weight: 800;
    padding-top: 5px;
}
.edit:hover,.x:hover{
    background-color: #686b6f;
    color: white;
    cursor: pointer;
    height: fit-content;
}
#tasksDisplayer>div:hover{
    background-color: #f4f7fb;
    color: #1ca0f1;
    font-weight: 800;
}
.cancel{
    text-decoration: line-through #696c89;
}
.show{
    display: block;
}
.hide{
    display: none;
}